# Application
vendor/
node_modules/
web/app/plugins/*
!web/app/plugins/gulir-core
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
!web/app/mu-plugins/gulir-plugin
# web/app/themes/gulir/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*
web/app/db.php

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml

# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp
.vscode/launch.json
tasks.json

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini
/debug.log
